In [1]:
import numpy as np
import pandas as pd
import scanpy as sc
import anndata as ad

In [83]:
with open("GSE60361_C1-3005-Expression.txt", 'r') as file:
    data = file.read().split()
    columns = [data[i:i+3006] for i in range(0, len(data), 3006)]
    df = pd.DataFrame({col[0]: col[1:] for col in columns[1:]})
df

,Tspan12,Tshz1,Fnbp1l,Adamts15,Cldn12,Rxfp1,2310042E22Rik,Sema3c,Jam2,Apbb1ip,...,Gm20826_loc1,Gm20826_loc2,Gm20877_loc2,Gm20877_loc1,Gm20865_loc4,Gm20738_loc4,Gm20738_loc6,Gm21943_loc1,Gm21943_loc3,Gm20738_loc3
0,0,3,3,0,1,0,0,11,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,6,0,1,0,2,25,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3,2,4,0,0,0,3,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,2,1,0,0,0,0,10,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3001,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3003,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3004,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
df = df.astype(int)
df.sum(axis=1)

0       21580
1       21748
2       31640
3       32914
4       21527
        ...
3000     4585
3001     2559
3002     4014
3003     2896
3004     4460
Length: 3005, dtype: int64

In [86]:
df.index = columns[0][1:]
df
adata = ad.AnnData(X = df.values,
                        var = pd.DataFrame(index = df.columns),
                        obs = pd.DataFrame(index = columns[0][1:]))
adata

AnnData object with n_obs Ã— n_vars = 3005 Ã— 19970

In [87]:
adata.write_h5ad("GSE60361_processed.h5ad")
adata

AnnData object with n_obs Ã— n_vars = 3005 Ã— 19970

In [47]:
sc.read_h5ad("GSE60361_processed.h5ad")

AnnData object with n_obs Ã— n_vars = 3005 Ã— 19970